html {
    height: 100vh;
    width: 100vw;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: var(--color-1);
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

* { 
    user-select: none;
}

::-webkit-scrollbar {
    width: 0;
}

#client_version {
    z-index: -1;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    color: var(--color-2);
    text-align: right;
}

#client_ping {
    z-index: -1;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    color: var(--color-2);
    text-align: left;
}

#client_ping > span {
    display: flex;
    align-items: center;
    gap: 12px;
}


#client_ping * {
    font-size: 12px;
}

#ping_0, #ping_1, #ping_2 {
    margin-left: -10px;
}

#connection {
    font-weight: bold;
}

#popups {
    z-index: 200;
    position: absolute;
    padding: 20px;
    height: calc((62px + 20px) * 5 + 10px); /* space for 5 popups */
    width: 520px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    pointer-events: none;
}

.popup {
    height: 60px;
    min-height: 60px;
    width: 80%;
    padding: 4px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    box-shadow: #000 0 0 5px;
    border: #000 1px solid;
    pointer-events: all;
}

.popup:hover {
    opacity: 0.4;
}

.popupContent {
    font-size: 18px;
}

.popupTimestamp {
    font-size: 12px;
    margin-left: auto;
}


h1 {
    margin: 0;
    font-size: 40px;
    width: 100%;
}

h2 {
    margin: 0;
    font-size: 25px;
    width: 100%;
}

#status_bar {
    height: calc(20% - 2px - 20px);
    width: calc(100% - 20px);
    padding: 10px 2%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#status_bar span:has(h1) {
    display: flex;
    flex-direction: column;
    width: 25%;
}

#map_btn {
    font-size: 36px;
    cursor: pointer;
}

#map_container {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: brightness(50%) blur(5px);
    opacity: 0;
    pointer-events: none;
}

#map_container.shown {
    opacity: 1;
    pointer-events: all;
}

#map {
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 60%;
    padding: 40px;
    background-color: var(--color-1);
    border-radius: 10px;
    box-shadow: #000 0 0 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#map_toolbar {
    z-index: 1;
    position: absolute;
    padding: 6px 10px;
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0006;
    box-shadow: #0006 0 0 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#map_toolbar span {
    cursor: pointer;
}

#target_mode_popup {
    z-index: 1;
    position: absolute;
    padding: 6px 10px;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0006;
    box-shadow: #0006 0 0 5px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: all 100ms ease-in-out;
    cursor: pointer;
}

#target_mode_popup.shown {
    pointer-events: all;
    opacity: 1;
}

#map_img {
    --offsetX: 0px;
    --offsetY: 0px;
    --zoom: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% + var(--offsetX)), calc(-50% + var(--offsetY)));
    overflow: hidden;
    display: table;
}

#map_img img {
    display: table-row;
    height: var(--zoom);
    cursor: grab;
    -webkit-user-drag: none;
}

#map_img img.panning {
    cursor: grabbing;
}

#map_img img.targetMode {
    cursor: crosshair;
}

.mapJobMarker {
    --markerOffsetX: 0%;
    --markerOffsetY: 0%;
    z-index: 1;
    position: absolute;
    top: calc(62.2% + var(--markerOffsetY));
    left: calc(45.97% + var(--markerOffsetX));
    color: #000;
    text-shadow: #000 0 0 15px;
    transform: translate(-50%, -50%);
    height: 30px;
    font-size: 25px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.rdMapMarker {
    color: var(--rd);
}

.polMapMarker {
    color: var(--pol);
}

.mapJobMarkerLabel {
    all: initial;
    position: absolute;
    align-self: flex-start;
    left: 50%;
    width: max-content;
    max-width: 300px;
    box-sizing: border-box;
    transform: translate(-50%, 35px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0006;
    box-shadow: #0006 0 0 5px;
    padding: 8px 5px;
    color: #fff;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    pointer-events: none;
    opacity: 0;
    transition: all 100ms ease-in-out;
}

.mapJobMarker:hover .mapJobMarkerLabel {
    opacity: 1;
}

.mapJobMarkerLabel h1 {
    text-align: center;
    font-size: 18px;
}

.mapJobMarkerLabel p {
    margin: 0;
    font-size: 14px;
}

.hoverButton {
    height: 70%;
    aspect-ratio: 4/3;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: var(--color-2);
}

.hoverButton:hover {
    filter: brightness(80%);
}

/* LEFT PANEL */
#left_panel {
    height: 80%;
    width: calc(50% - 1px);
    border-right: 1px solid var(--color-2);
    border-top: 2px solid var(--color-2);
    overflow-y: scroll;
}

.areaOpen .unitGrid {
    display: grid;
}

.areaHeader {
    position: relative;
    top: 0;
    left: 0;
    background-color: var(--color-2);
    height: 40px;
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-weight: bold;
}

.unitGrid {
    display: none;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 20px;
    padding: 20px;
}

.unitTile {
    width: calc(100% - 20px);
    padding: 10px;
    aspect-ratio: 2/1;
    background-color: var(--color-2);
    border: 1px solid #000;
    box-shadow: 0 0 5px #000;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    cursor: pointer;
}
.unitTile span {
    display: flex;
    align-items: center;
    font-size: 18px;
    height: 22px;
}
.unitName {
    align-self: center;
    font-weight: bold;
}

/* UNIT CARD */
#unit_card {
    z-index: 100;
    backdrop-filter: brightness(50%) blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

#unit_card_content {
    height: 50%;
    width: 40%;
    background-color: var(--color-1);
    border-radius: 10px;
    box-shadow: #000 0 0 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#unit_card_title {
    flex: 1;
    min-width: 60%;
    height: 8%;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    border: none !important;
    box-shadow: none !important;
}

#unit_card_title h2 {
    margin-right: auto;
}

#unit_card_title span {
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
}

#unit_card_title span:hover {
    filter: brightness(90%);
    backdrop-filter: brightness(90%);
}

#unit_card_jobinfo {
    flex: 1;
    min-width: 60%;
    height: 30px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#unit_card_jobinfo span {
    font-size: 26px;
}

#unit_card_joblink {
    cursor: pointer;
}

#unit_card_left, #unit_card_right {
    width: calc(50% - 1px);
    height: calc(100% - 8% - 40px - 50px - 30px - 60px);
    margin: 10px 0 20px 0;
}
#unit_card_left {
    border-right: var(--color-2) 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
#unit_card_right {
    border-left: var(--color-2) 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#unit_card_left div {
    width: 80%;
    display: flex;
    align-items: center;
}

#unit_card_right div {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#unit_card_right div span{
    display: flex;
    align-items: center;
}

#unit_card_usernumber, .cardContent {
    margin-left: 6px;
}

#unit_card_sendmsg {
    height: 60px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

#unit_card_sendmsg input{
    all: unset;
    height: calc(70% - 4px);
    border-radius: 5px;
    border: var(--color-2) 2px solid;
    width: 40%;
    padding: 0 10px;
}

/* RIGHT PANEL */
#right_panel {
    height: 80%;
    width: calc(50% - 1px);
    border-left: 1px solid var(--color-2);
    border-top: 2px solid var(--color-2);
    display: flex;
    flex-direction: column;
}

#new_jobs, #active_jobs {
    height: 50%;
    display: flex;
    flex-direction: column;
}

.jobList {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    overflow: scroll;
}

.jobListing {
    height: 60px;
    width: 90%;
    padding: 0 20px;
    box-shadow: #000 0 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.jobTitle {
    font-size: 20px;
    margin-right: auto;
}

.jobTimestamp {
    width: 20%;
    text-align: center;
}

.jobInfo {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-wrap: pretty;
}

.jobInfo > span {
    display: flex;
    gap: 5px;
}

.jobInfo > span > span {
    display: flex;
    align-items: center;
}

.rdJob {
    background-color: var(--rd);
}

.polJob {
    background-color: var(--pol);
}

.editJobBtn, .deleteJobBtn {
    cursor: pointer;
    border-radius: 4px;
    padding: 5px;
}

.editJobBtn:hover, .deleteJobBtn:hover {
    filter: brightness(90%);
    backdrop-filter: brightness(90%);
}

.jobTitlebar {
    background-color: var(--color-2);
    height: 40px;
    width: auto;
    padding: 0 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.jobTitlebarHeader {
    margin-right: auto;
}



/* STATUS COLORS */

.status1 {
    background-color: var(--status-green);
}
.status2 {
    background-color: var(--status-green);
}
.status3 {
    background-color: var(--status-yellow);
}
.status4 {
    background-color: var(--status-red);
}
.status5 {
    background-color: var(--status-blue);
}
.status6 {
    background-color: var(--status-red);
}
.status7 {
    background-color: var(--status-orange);
}
.status8 {
    background-color: var(--status-orange);
}
.status9 {
    background-color: var(--status-red);
        box-shadow: var(--status-orange) 0 0 10px;
        border-color: var(--status-orange);
    animation: distress 1.6s step-start infinite;
}
@keyframes distress {
    50% {
        background-color: var(--status-orange);
        box-shadow: var(--status-red) 0 0 10px;
        border-color: var(--status-red);
    }
}